<div class="row">
  <div class="adjusted" id="left-col"><img src="assets/img/paint_me.JPG" class="welcome-image"></div>
  <div id="right-col">
    <div class="top-div">
      <h1>HI,</h1>
      <h1>I AM OSCAR MENDEZ</h1>
      <img id="hr" src="assets/img/hr-different.png">
      <h5 class="first-line">Software Development · Big Data · Web Development</h5>
    </div>
    <div class="bot-div">
        <h5>Want to know more about me? Check my other platforms!</h5>
        <img><a href="https://github.com/Oscarmendezv"><img src='assets/img/github_logo.svg' class="logo"></a>
        <a href="https://www.linkedin.com/in/oscar-mendez-valladares/"><img src='assets/img/Logo-Linkedin.png' class="logo"></a>
      </div>
  </div>
</div>
<section class="section about bg-white p-t-120 p-b-135">
  <div id="container">
    <article id="about-me">
      <h3 class="section-heading m-b-40">ABOUT ME</h3>
      <div class="justify-content-center">
        <div class="col">
          <p>I am a young multilingual (English, Spanish and intermediate-high level of French) Engineer who is passionate about technology!As I introduced myself into programming with Matlab during my degree (Materials Engineering
              ), realizing the opportunities it offers created in me the passion I now have for software development. This lead me to learning Java on eMOOCs. After completing several online courses for Java, I got my first job as a Java Full Stack Developer at Everis, a technological consultancy. Since then, I have continued to learn new technologies and improve my knowledge in software programming. That's why I ended up learning Python and Scala, finding a new passion in Big Data and Data Science ! To fulfill my curiosity, I decided to start studying an official online Master in Data Science at UOC. 
              
              My ambition is to become a technical leader, as I love being in touch with technology but I also love managing, helping and guiding people. 
              
              I am recognized as a good problem solver, as I really like to learn new things and try to understand those that I currently do not comprehend. I love facing challenges and I give my best to overcome them ! 
              
              I follow a philosophy based on continuous improvement: I try to be a better person and professional every day. While doing it, I have developed a passion for learning, either by myself (mainly by reading books) or by courses.</p>
        </div>
      </div>
    </article>
  </div>
</section>
